.card-title {
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 3px;

}

.card-text {
    font-size: 12px;
    margin: 0 0 5px;
}

.card-body {
    padding: 8px 0px;
}

.img-fluid {
    text-align: center;
}

#card-list {
    max-height:82vh; 
    overflow-y:scroll;
}

@media screen and (max-width: 992px) {
    .card-title {
        font-size: 18px;
        margin-bottom: 6px; 
    }

    .card-body {
        padding: 12px 0px;
    }

    .card-text {
        font-size: 14px;
    }

    #card-list { 
        max-height: none;
        overflow-y:hidden;
    }
}
